main .container {
    display: flex;
    justify-content: space-between;
  }
  .mainContent {
    width: 60;
  }
  @media screen and (max-width: 768px) {
    main .container {
      flex-direction: column;
    }
    .mainContent {
      width: 100%;
    }
    .sideContent {
      width: 100%;
    }
  }